# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*.local

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# NPM cache
.npm/

# Coverage directory used by tools like istanbul
coverage/

# Debug folders
.nyc_output/

# PM2 logs
pids/
*.pid
*.seed

# Optional npm cache directory
.npm/

# TypeScript
*.tsbuildinfo

# Others
*.tgz
